@import "./.normalize.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --body-font-family: var(--font-sans-serif);

    --font-size-p: min(max(14px, 1.75vw), 20px);
    --font-size-button: min(max(11px, 1.75vw), 14px);
    --line-height-p: 1.1;
    --letter-spacing-p: 0px;
}

@media only screen and (orientation: landscape) {
    :root { 
        --font-size-p: min( max(17px, 1.75vw), 22px);
        --line-height-p: 1.1;
        --letter-spacing-p: -1px;
    }
}

body {
    font-family: var(--body-font-family);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* background: gray; */
}

button {
	background-color: black;
    padding: 5px 10px;
	border-radius: 10px;
	font-size: var(--font-size-button);
}
button:hover {
	background-color: white;
	color: black;
}

canvas {
	height: var(--h);
	width: 100%;
	background-color: #fff;
}

p {
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    letter-spacing: var(--letter-spacing-p);
    color: black;
    margin: 0.5em 0;
}

a {
	text-decoration: underline;
	font-size: 1rem;
}
a:hover {
	text-decoration: none;
}

.example {
	display: flex;
	font-size: 20px;
	position: fixed;
	padding: 1.25rem;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 50;
	justify-content: space-between;
	align-items: flex-end;
}

#info {
	padding-right: 20px;
}

#version {
	padding: 0 10px;
	background-color: aliceblue;
	color: black;
	border-radius: 10px;
	font-size: 10px;
	text-align: center;
	white-space: nowrap;
}

#apis {
	margin-bottom: 10px;
	display: flex;
    flex-direction: column;
}
#apis *:not(:first-child){
	margin-top: 5px;
}